body {
  margin: 0;
  font-family: Roboto, Helvetica, Arial, sans-serif;
}
.App {text-align: center;height: 100vh;}

.logo {margin-right: 10px;animation: rotate 7s linear infinite;}

@keyframes rotate {
  0% {transform: rotate(0deg);}
  100% {transform: rotate(360deg);}
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 87%;
}
.form-control{border: 1px solid #ddd !important;}
.form-control::placeholder{color:#a3a0a0 !important;}